@media screen and (max-width: 1539px){
    .darkorlight {
        top: 83%;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    .nav {
        width: 1200px;
        height: 115px;
    }

    .logo h1 {
        font-size: 1.9rem;
    }

    .tentang {
        height: 720px;
    }

    .tentang-right img{
        width: 500px;
        height: 400px;
    }

    .tentang-left .names {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .tentang-left h1 {
        font-size: 2.3rem;
    }

    .tentang-left p {
        font-size: 16px;
    }

    .goal-left .mergurine {
        width: 510px;
        height: 300px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 800px;
        height: 650px;
    }
    .mergurine1{
        /* black */
        width: 100px;
        height: 240px;
        margin-left: 1px;
        margin-bottom: -95px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 230px;
        margin-left: 330px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 100px;
        height: 240px;
        margin-left: 1px;
        margin-bottom: -95px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 230px;
        margin-left: 330px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }

    .goal-right {
        width: 550px;
        margin-top: -100px;
    }

    /* PROJECT */
    .priject-styl {
        width: 340px;
        height: 430px;
    }

    .priject-styl img {
        width: 100%;
        height: 40%;
    }

    .priject-styl h2 {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .priject-styl p {
        font-size: 1rem;
    }

    /* KONTAK */
    .kontak-me{
        width: 1000px;
        height: 900px;
    }

    .form-kontak {
        left: 0;
    }
}

@media screen and (max-width: 1280px){
    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .logo h1 {
        font-size: 1.9rem;
    }

    .nav {
        width: 1100px;
        height: 115px;
    }

    .tentang-right img{
        width: 400px;
        height: 300px;
    }

    .tentang-left .names {
        font-size: .9rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .tentang-left h1 {
        font-size: 2.1rem;
    }

    .tentang-left p {
        font-size: 15px;
    }

    .goal-left .mergurine {
        width: 450px;
        height: 250px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 800px;
        height: 650px;
    }
    .mergurine1{
        /* black */
        width: 85px;
        height: 240px;
        margin-left: 3px;
        margin-bottom: -40px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 200px;
        margin-left: 300px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 85px;
        height: 240px;
        margin-left: 3px;
        margin-bottom: -40px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 200px;
        margin-left: 300px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 540px;
        margin-top: -100px;
    }

    /* PROJECT */
    .priject-styl {
        width: 300px;
        height: 395px;
    }

    .priject-styl img {
        width: 100%;
        height: 40%;
    }

    .priject-styl h2 {
        margin-top: 5px;
        font-size: 1.1rem;
    }

    .priject-styl p {
        font-size: 1rem;
        margin-top: -5px;
    }

    /* KONTAK */
    .kontak-me{
        width: 1000px;
        height: 900px;
    }

    .form-kontak {
        left: 0;
    }
}



/* 1366 */

@media screen and (max-width: 1366px){
    .container {
        width: 1100px;
        margin: 0 auto;
    }

    .logo h1 {
        font-size: 1.9rem;
    }

    .nav {
        width: 1100px;
        height: 115px;
    }

    .tentang-right img{
        width: 400px;
        height: 300px;
    }

    .tentang-left .names {
        font-size: .9rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .tentang-left h1 {
        font-size: 2.1rem;
    }

    .tentang-left p {
        font-size: 15px;
    }

    .goal-left .mergurine {
        width: 450px;
        height: 250px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 800px;
        height: 650px;
    }
    .mergurine1{
        /* black */
        width: 85px;
        height: 240px;
        margin-left: 3px;
        margin-bottom: -40px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 200px;
        margin-left: 300px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 85px;
        height: 240px;
        margin-left: 3px;
        margin-bottom: -40px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 200px;
        margin-left: 300px;
        margin-top: -5px;
        height: 450px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 540px;
        margin-top: -100px;
    }

    /* PROJECT */
    .priject-styl {
        width: 300px;
        height: 395px;
    }

    .priject-styl img {
        width: 100%;
        height: 40%;
    }

    .priject-styl h2 {
        margin-top: 5px;
        font-size: 1.1rem;
    }

    .priject-styl p {
        font-size: 1rem;
        margin-top: -5px;
    }

    /* KONTAK */
    .kontak-me{
        width: 1000px;
        height: 900px;
    }

    .form-kontak {
        left: 0;
    }
}

@media screen and (max-width: 1143px){
    .container {
        width: 900px;
        margin: 0 auto;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 900px;
        height: 115px;
    }

    .tentang-right img{
        width: 300px;
        height: 220px;
    }

    .tentang-left .names {
        font-size: .8rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .tentang-left h1 {
        font-size: 1.9rem;
    }

    .tentang-left p {
        font-size: 14px;
    }

    .goal-left .mergurine {
        width: 360px;
        height: 200px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 800px;
        height: 650px;
    }
    .mergurine1{
        /* black */
        width: 65px;
        height: 160px;
        margin-left: 10px;
        margin-bottom: -85px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 150px;
        margin-left: 250px;
        margin-top: 65px;
        height: 250px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 65px;
        height: 160px;
        margin-left: 10px;
        margin-bottom: -85px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 150px;
        margin-left: 250px;
        margin-top: 65px;
        height: 250px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 420px;
        margin-top: -15px;
    }

    .goal {
        height: 600px;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 16px;
    }

    .goal-left .mergurine {
        top: 170px;
    }

    /* PROJECT */
    .priject-styl {
        width: 250px;
        height: 450px;
    }

    .priject-styl img {
        width: 100%;
        height: 30%;
    }

    .priject-styl h2 {
        margin-top: 20px;
        font-size: 1.1rem;
    }

    .priject-styl p {
        font-size: 1rem;
        margin-top: 10px;
    }

    /* KONTAK */
    .kontak-me{
        width: 1000px;
        height: 900px;
    }

    .form-kontak {
        left: 0;
    }

    .k-txt{
        display: none;
    }
}

@media screen and (max-width: 1005px){
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 720px;
        height: 115px;
    }

    nav {
        width: 50%;
        height: 100vh;
        background-color: rgb(0, 155, 155);
        border-left: 1px solid rgb(0, 0, 0);
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .bc-navu{
        background-color: rgb(0, 83, 83);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50%;
    }

    nav ul li {
        padding: 16px;
    }

    nav ul li a{
        padding: 5px 13px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        border: 1px solid black;
    }

    nav ul li a:active {
        background-color: white;
    }

    .nav-open{
        transform: translate(0);
        transition: .3s ease-in-out;
    }

    .animate-burger .line1 {
        transform: rotate(45deg) translate(20px, 7px);
        transition: .3s ease-in-out;
    }

    .animate-burger .line2 {
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .animate-burger .line3 {
        transform: rotate(-45deg) translate(6px, 7px);
        transition: .3s ease-in-out;
    }

    /* TENTANG */
    .tentang {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tentang-left {
        margin-top: -40px;
    }

    .tentang-left p {
        width: 600px;
        font-size: 1rem;
    }

    .tentang-right {
        padding-top: 80px;
        margin: auto;
        order: -1;
    }

    .tentang-right img {
        width: 400px;
        height: 300px;
    }

    /* GOALS */
    .goal {
        height: 200px;
    }

    .goal-left .mergurine {
        width: 250px;
        height: 150px;
        margin-left: -20px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 400px;
        height: 450px;
    }
    .mergurine1{
        /* black */
        width: 55px;
        height: 120px;
        margin-bottom: -68px;
        margin-left: 0px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 55px;
        height: 120px;
        margin-left: 20px;
        margin-bottom: -68px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 380px;
        margin-top: -19px;
    }

    .goal {
        height: 600px;
    }

    .goal-right h1 {
        font-size: 2rem;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 56px;
    }

    .goal-left .mergurine {
        top: 210px;
    }

        .projects {
        transition: .3s ease-in-out;
    }

    /* Project */
    .project {
        width: 1005px;
        height: 900px;
    }

    .judul-halaman h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: "Alfa Slab One", sans-serif;
        padding-top: 150px;
        margin-bottom: 80px;
        text-shadow: 2px 2px 1px red;
    }

    .kum-project {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px;
    }

    .priject-styl {
        width: 250px;
        height: 350px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.582);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        overflow: hidden;
    }

    .bdr-white {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.521);
    }

    .priject-styl img {
        width: 100%;
        height: 40%;
    }

    .priject-styl h2 {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 900;
        font-family: "exo", sans-serif;
    }

    .priject-styl p {
        padding: 20px;
        text-align: center;
        font-size: 0.81rem;
        font-weight: 400;
    }

    .kontak-me{
        width: 1005px;
        height: 900px;
    }
    
    .kum-kontak-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: auto;
    }
    
    .sosmed {
        width: 400px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }
    
    .text-icon {
        margin-top: -18px;
    }
    .form-kontak {
        left: 10%;
    }
    
    .k-txt {
        margin: auto;
    }
    
    .kotak-form {
        width: 500px;
        height: 450px;
        padding-top: 25%;
        margin: auto;
        margin-top: -10px;
        position: relative;
    }
}

@media screen and (max-width: 900px){
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 720px;
        height: 115px;
    }

    nav {
        width: 50%;
        height: 100vh;
        background-color: rgb(0, 155, 155);
        border-left: 1px solid rgb(0, 0, 0);
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .bc-navu{
        background-color: rgb(0, 83, 83);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50%;
    }

    nav ul li {
        padding: 16px;
    }

    nav ul li a{
        padding: 5px 13px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        border: 1px solid black;
    }

    nav ul li a:active {
        background-color: white;
    }

    .nav-open{
        transform: translate(0);
        transition: .3s ease-in-out;
    }

    .animate-burger .line1 {
        transform: rotate(45deg) translate(20px, 7px);
        transition: .3s ease-in-out;
    }

    .animate-burger .line2 {
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .animate-burger .line3 {
        transform: rotate(-45deg) translate(6px, 7px);
        transition: .3s ease-in-out;
    }

    /* TENTANG */
    .tentang {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tentang-left {
        margin-top: -40px;
    }

    .tentang-left p {
        width: 600px;
        font-size: 1rem;
    }

    .tentang-right {
        padding-top: 80px;
        margin: auto;
        order: -1;
    }

    .tentang-right img {
        width: 400px;
        height: 300px;
    }

    /* GOALS */
    .goal {
        height: 200px;
    }

    .goal-left .mergurine {
        width: 250px;
        height: 150px;
        margin-left: -20px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 400px;
        height: 450px;
    }
    .mergurine1{
        /* black */
        width: 55px;
        height: 120px;
        margin-bottom: -68px;
        margin-left: 0px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 55px;
        height: 120px;
        margin-left: 20px;
        margin-bottom: -68px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 380px;
        margin-top: -19px;
    }

    .goal {
        height: 600px;
    }

    .goal-right h1 {
        font-size: 2rem;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 56px;
    }

    .goal-left .mergurine {
        top: 210px;
    }

        .projects {
        transition: .3s ease-in-out;
    }

    /* Project */
    .project {
        width: 900px;
        height: 900px;
    }

    .judul-halaman h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: "Alfa Slab One", sans-serif;
        padding-top: 150px;
        margin-bottom: 80px;
        text-shadow: 2px 2px 1px red;
    }

    .kum-project {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr 0.7fr;
        gap: 1rem;
    }

    .priject-styl {
        width: 250px;
        height: 350px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.582);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        overflow: hidden;
    }

    .bdr-white {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.521);
    }

    .priject-styl img {
        width: 100%;
        height: 40%;
    }

    .priject-styl h2 {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 1.2rem;
        text-align: center;
        font-weight: 900;
        font-family: "exo", sans-serif;
    }

    .priject-styl p {
        padding: 20px;
        text-align: center;
        font-size: 0.81rem;
        font-weight: 400;
    }

    .kontak-me{
        width: 900px;
        height: 900px;
    }
    
    .kum-kontak-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: auto;
    }
    
    .sosmed {
        width: 400px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }
    
    .text-icon {
        margin-left: -100px;
        width: 100px;
        margin-top: -18px;
    }
    
    .k-txt {
        margin: auto;
    }
    
    .kotak-form {
        width: 500px;
        height: 450px;
        padding-top: 25%;
        margin: auto;
        margin-top: -10px;
        position: relative;
    }
}

@media screen and (max-width: 800px){
    .container {
        width: 720px;
        margin: 0 auto;
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 720px;
        height: 115px;
    }

    nav {
        width: 50%;
        height: 100vh;
        background-color: rgb(0, 155, 155);
        border-left: 1px solid rgb(0, 0, 0);
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .bc-navu{
        background-color: rgb(0, 83, 83);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50%;
    }

    nav ul li {
        padding: 16px;
    }

    nav ul li a{
        padding: 5px 13px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        border: 1px solid black;
    }

    nav ul li a:active {
        background-color: white;
    }

    .nav-open{
        transform: translate(0);
        transition: .3s ease-in-out;
    }

    .animate-burger .line1 {
        transform: rotate(45deg) translate(20px, 7px);
        transition: .3s ease-in-out;
    }

    .animate-burger .line2 {
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .animate-burger .line3 {
        transform: rotate(-45deg) translate(6px, 7px);
        transition: .3s ease-in-out;
    }

    /* TENTANG */
    .tentang {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tentang-left {
        margin-top: -40px;
    }

    .tentang-left p {
        width: 600px;
        font-size: 1rem;
    }

    .tentang-right {
        padding-top: 80px;
        margin: auto;
        order: -1;
    }

    .tentang-right img {
        width: 400px;
        height: 300px;
    }

    /* GOALS */
    .goal {
        height: 200px;
    }

    .goal-left .mergurine {
        width: 250px;
        height: 150px;
        margin-left: -20px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 400px;
        height: 450px;
    }
    .mergurine1{
        /* black */
        width: 55px;
        height: 120px;
        margin-bottom: -68px;
        margin-left: 0px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 800px;
        height: 650px;
    }
    .mergurinewht1{
        /* black */
        width: 55px;
        height: 120px;
        margin-left: 20px;
        margin-bottom: -68px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 100px;
        margin-left: 165px;
        margin-top: 90px;
        height: 180px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 380px;
        margin-top: -19px;
    }

    .goal {
        height: 600px;
    }

    .goal-right h1 {
        font-size: 2rem;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 56px;
    }

    .goal-left .mergurine {
        top: 210px;
    }

        .projects {
        transition: .3s ease-in-out;
    }

    /* Project */
    .project {
        width: 800px;
        height: 900px;
    }

    .judul-halaman h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: "Alfa Slab One", sans-serif;
        padding-top: 150px;
        margin-bottom: 80px;
        text-shadow: 2px 2px 1px red;
    }

    .kum-project {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr 0.7fr;
        gap: 1rem;
    }

    .priject-styl {
        width: 200px;
        height: 300px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.582);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        overflow: hidden;
    }

    .bdr-white {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.521);
    }

    .priject-styl img {
        width: 100%;
        height: 35%;
    }

    .priject-styl h2 {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 1rem;
        text-align: center;
        font-weight: 900;
        font-family: "exo", sans-serif;
    }

    .priject-styl p {
        padding: 20px;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 400;
    }

    .kontak-me{
        width: 800px;
        height: 1200px;
    }
    
    .kum-kontak-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: auto;
        align-items: center;
        margin: auto;
    }
    
    .sosmed {
        width: 400px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }
    
    .text-icon {
        margin-top: -18px;
    }
    
    .k-txt {
        margin: auto;
    }
    
    .kotak-form {
        width: 500px;
        height: 450px;
        padding-top: 25%;
        margin: auto;
        margin-top: -10px;
        position: relative;
    }
    .form-kontak {
        left: 0;
    }
}

@media screen and (max-width: 720px){
    .container {
        width: 620px;
        margin: 0 auto;
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 620px;
        height: 115px;
    }

    nav {
        width: 50%;
        height: 100vh;
        background-color: rgb(0, 155, 155);
        border-left: 1px solid rgb(0, 0, 0);
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .bc-navu{
        background-color: rgb(0, 83, 83);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50%;
    }

    nav ul li {
        padding: 16px;
    }

    nav ul li a{
        padding: 5px 13px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        border: 1px solid black;
    }

    nav ul li a:active {
        background-color: white;
    }

    .nav-open{
        transform: translate(0);
        transition: .3s ease-in-out;
    }

    .animate-burger .line1 {
        transform: rotate(45deg) translate(20px, 7px);
        transition: .3s ease-in-out;
    }

    .animate-burger .line2 {
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .animate-burger .line3 {
        transform: rotate(-45deg) translate(6px, 7px);
        transition: .3s ease-in-out;
    }

    /* TENTANG */
    .tentang {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tentang-left {
        margin-top: -40px;
    }

    .tentang-left p {
        width: 600px;
        font-size: 1rem;
    }

    .tentang-right {
        padding-top: 80px;
        margin: auto;
        order: -1;
    }

    .tentang-right img {
        width: 400px;
        height: 300px;
    }

    /* GOALS */
    .goal-left .mergurine {
        width: 350px;
        height: 220px;
        margin-left: 16%;
        margin-top: -90px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 600px;
        height: 450px;
    }
    .mergurine1{
        /* black */
        width: 90px;
        height: 150px;
        margin-bottom: -140px;
        margin-left: 105px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 150px;
        margin-left: 220px;
        margin-top: -9px;
        height: 200px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 600px;
        height: 450px;
    }
    .mergurinewht1{
        /* black */
        width: 90px;
        height: 150px;
        margin-bottom: -140px;
        margin-left: 105px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 150px;
        margin-left: 220px;
        margin-top: -9px;
        height: 200px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .goal-right {
        width: 380px;
        margin-top: 320px;
    }

    .goal {
        height: 800px;
        grid-template-rows: 1fr 1fr;
    }

    .goal-right h1 {
        font-size: 2rem;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 56px;
    }

    .goal-left .mergurine {
        top: 210px;
    }

    .projects {
        transition: .3s ease-in-out;
    }

    /* Project */
    .project {
        width: 720px;
        height: 900px;
    }

    .judul-halaman h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: "Alfa Slab One", sans-serif;
        padding-top: 150px;
        margin-bottom: 80px;
        text-shadow: 2px 2px 1px red;
    }

    .kum-project {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr 0.7fr;
        gap: 1rem;
    }

    .priject-styl {
        width: 180px;
        height: 300px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.582);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        overflow: hidden;
    }

    .bdr-white {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.521);
    }

    .priject-styl img {
        width: 100%;
        height: 35%;
    }

    .priject-styl h2 {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 1rem;
        text-align: center;
        font-weight: 900;
        font-family: "exo", sans-serif;
    }

    .priject-styl p {
        padding: 20px;
        text-align: center;
        font-size: 0.66rem;
        font-weight: 400;
    }

    .kontak-me{
        width: 720px;
        height: 1200px;
    }
    
    .kum-kontak-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: auto;
        align-items: center;
        margin: auto;
    }
    
    .sosmed {
        width: 400px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }
    
    .text-icon {
        margin-top: -18px;
    }
    
    .k-txt {
        margin: auto;
    }
    
    .kotak-form {
        width: 500px;
        height: 450px;
        padding-top: 25%;
        margin: auto;
        margin-top: -10px;
        position: relative;
    }
    .form-kontak {
        left: 0;
    }
}

@media screen and (max-width: 428px){
    .container {
        width: 400px;
        margin: 0 auto;
    }

    .burger {
        display: block;
        z-index: 999;
    }

    .logo h1 {
        font-size: 1.7rem;
    }

    .nav {
        width: 400px;
        height: 115px;
    }

    nav {
        width: 50%;
        height: 100vh;
        background-color: rgb(0, 155, 155);
        border-left: 1px solid rgb(0, 0, 0);
        position: fixed;
        right: 0;
        top: 0;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    .bc-navu{
        background-color: rgb(0, 83, 83);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 50%;
    }

    nav ul li {
        padding: 16px;
    }

    nav ul li a{
        padding: 5px 13px;
        background-color: rgb(255, 0, 0);
        color: white;
        box-shadow: 2px 2px 2px black;
        border-radius: 10px;
        border: 1px solid black;
    }

    nav ul li a:active {
        background-color: white;
    }

    .nav-open{
        transform: translate(0);
        transition: .3s ease-in-out;
    }

    .animate-burger .line1 {
        transform: rotate(45deg) translate(20px, 7px);
        transition: .3s ease-in-out;
    }

    .animate-burger .line2 {
        opacity: 0;
        transition: .2s ease-in-out;
    }

    .animate-burger .line3 {
        transform: rotate(-45deg) translate(6px, 7px);
        transition: .3s ease-in-out;
    }

    /* TENTANG */
    .tentang {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .tentang-left {
        margin-top: -40px;
    }

    .tentang-left .names {
        font-size: .8rem;
        font-weight: 350;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .tentang-left h1 {
        font-size: 1.7rem;
    }

    .tentang-left p {
        width: 300px;
        font-size: 1rem;
        margin: auto;
    }

    .tentang-right {
        padding-top: 80px;
        margin: auto;
        order: -1;
    }

    .tentang-right img {
        width: 300px;
        height: 230px;
    }

    /* GOALS */
    .goal-left .mergurine {
        width: 250px;
        height: 150px;
        margin-left: 10%;
        margin-top: -110px;
    }

    /* Kaligrafi */
    .black-kaligrafi {
        width: 400px;
        height: 450px;
    }
    .mergurine1{
        /* black */
        width: 70px;
        height: 150px;
        margin-bottom: -225px;
        margin-left: 55px;
        opacity: .8;
    }
    
    .mergurine2{
        /* black */
        width: 150px;
        margin-left: 260px;
        margin-top: -49px;
        height: 200px;
        opacity: .8;
    }
    
    .white-kaligrafi {
        display: none;
        width: 400px;
        height: 450px;
    }
    .mergurinewht1{
        /* black */
        width: 70px;
        height: 150px;
        margin-bottom: -225px;
        margin-left: 55px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 150px;
        margin-left: 260px;
        margin-top: -49px;
        height: 200px;
        opacity: .8;
    }
    /* End Kaligrafi */

    .gambar-konten {
        width: 400px;
        height: 370px;
    }

    .goal-right {
        width: 320px;
        margin-top: 320px;
        margin-right: 15px;
    }

    .goal {
        height: 660px;
        grid-template-rows: 1fr 1fr;
    }

    .goal-right h1 {
        font-size: 2rem;
        margin-top: -50px;
    }

    .goal-right p {
        font-size: 14px;
    }

    .goal-left {
        padding-top: 56px;
    }

    .goal-left .mergurine {
        top: 210px;
    }

    .projects {
        transition: .3s ease-in-out;
    }

    /* Project */
    .project {
        width: 400px;
        height: 1400px;
    }

    .judul-halaman h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: "Alfa Slab One", sans-serif;
        padding-top: 150px;
        margin-bottom: 80px;
        text-shadow: 2px 2px 1px red;
    }

    .kum-project {
        display: grid;
        grid-template-columns: 0.7fr 0.7fr 0.7fr;
        gap: 3rem;
        grid-template-columns: auto;
    }

    .priject-styl {
        width: 180px;
        height: 300px;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.582);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.521);
        border-radius: 10px;
        overflow: hidden;
    }

    .bdr-white {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.521);
    }

    .priject-styl img {
        width: 100%;
        height: 35%;
    }

    .priject-styl h2 {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 1rem;
        text-align: center;
        font-weight: 900;
        font-family: "exo", sans-serif;
    }

    .priject-styl p {
        padding: 20px;
        text-align: center;
        font-size: 0.66rem;
        font-weight: 400;
    }

    .kontak-me{
        width: 400px;
        height: 1200px;
    }
    
    .kum-kontak-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: auto;
        align-items: center;
        margin: auto;
    }
    
    .sosmed {
        width: 400px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
    }
    
    .text-icon {
        margin-top: -18px;
    }
    
    .k-txt {
        margin: auto;
    }
    
    .kotak-form {
        width: 300px;
        height: 450px;
        padding-top: 25%;
        margin: auto;
        margin-top: -10px;
        position: relative;
    }
    
    .form-kontak {
        margin: auto;
    }

    input {
        width: 250px;
        height: 45px;
        padding: 15px;
        border-radius: 15px;
        background-color: rgba(224, 224, 224, 0.575);
        border: 1px solid red;
        resize: none;
    }

    textarea {
        width: 250px;
        height: 100px;
        border-radius: 7px;
        padding: 10px;
        background-color: rgba(224, 224, 224, 0.575);
        border: 1px solid red;
        resize: none;
    }

    .btn button {
        margin-top: 20px;
        width: 250px;
        height: 45px;
        border-radius: 15px;
        background-color: red;
        color: white;
        border: 1px black solid;
        box-shadow: 1px 1px 1px black;
        font-size: 1rem;
    }
    
    .skill {
        height: 1000px;
    }
    
    .kum-skill {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding-top: 100px;
        margin-top: -90px;
    }
    
    .list-skill {
        height: 300px;
    }
    
    .list-skill ul li {
        font-size: 1rem;
        font-family: "Alfa Slab One", sans-serif;
        padding: 20px 0 20px 40px;
        position: relative;
        margin-bottom: 85px;
    }
    
    .list-skill ul li:before {
        content: "";
        width: 13px;
        height: 13px;
        background-color: red;
        border: 1px solid green;
        border-radius: 50%;
        position: absolute;
        top: 35%;
        left: 0;
    }
    
    .pen-skill {
        height: 300px;
        padding-top: 20px;
    }
    
    .pen-skill p {
        font-size: 1rem;
        font-weight: 310;
        padding: 10px 0 10px 40px;
        position: relative;
    }
    
    .pen-skill p:before {
        content: "";
        width: 3px;
        height: 64px;
        background-color: rgba(153, 153, 153, 0.5);
        position: absolute;
        left: 0;
        top: 0;
    }
    
    hr {
        color: black;
    }
}


@media screen and (max-width: 390px){
    .container {
        width: 360px;
        margin: 0 auto;
    }

    .nav {
        width: 360px;
        height: 115px;
    }

    .goal-left .mergurine {
        width: 250px;
        height: 150px;
        margin-left: 3%;
        margin-top: -110px;
    }
    .mergurine1 {
        width: 70px;
        height: 150px;
        margin-bottom: -225px;
        margin-left: 25px;
        opacity: .8;
    }

    .mergurine2 {
        width: 140px;
        margin-left: 235px;
        margin-top: -49px;
        height: 200px;
        opacity: .8;
    }
    .mergurinewht1{
        /* black */
        width: 70px;
        height: 150px;
        margin-bottom: -225px;
        margin-left: 25px;
        opacity: .8;
    }
    
    .mergurinewht2{
        /* black */
        width: 140px;
        margin-left: 235px;
        margin-top: -49px;
        height: 200px;
        opacity: .8;
    }
    .black-kaligrafi {
        width: 300px;
        height: 450px;
    }

    .gambar-konten {
        width: 300px;
        height: 370px;
    }

    .sosmed {
        width: 300px;
        height: 400px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Icon {
        display: flex;
        flex-direction: column;
        margin-top: 17px;
        margin-left: -30px;
    }

    .goal-right {
        width: 340px;
        margin-top: 320px;
    }
    .skill {
        height: 1100px;
    }
}